@keyframes selected{
  0%{
    border: 1px solid $lightGrey;
  }
  40%{
    border: 1px solid white;
  }
  60%{
    border: 1px solid white;
  }
  100%{
    border: 1px solid $lightGrey;
  }
}

@keyframes rotateLoader {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}