//Dimensions
$editorHeight: 480px;

//Font sizes
$fontSizeSmall: 14px;

//Colors
$lightGrey: #ababab;
$grey: #676767;
$black: black;
$white: white;

//Font Families
$ffDefault: Arial, sans-serif;
$ffHeader: Arial, sans-serif;
