.screenTable{
  box-sizing: border-box;
  background: $grey;
  width: 640px;
  margin-top: 10px;

  tr{

    td{
      border: 1px solid $lightGrey;
      background: black;
      color: white;
      font-size: 0.7em;
      margin: 2px;
      padding: 5px;
      text-align: center;

      &.created{
        border: 1px solid $lightGrey;
        background: #292929;
      }

      &.current{
        animation: selected 0.5s ease infinite;
      }
    }
  }
}