.spriteList{
  padding: 20px;
  background: $lightGrey;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  width: 200px;
  height: $editorHeight;
  box-sizing: border-box;

  li{
    width: calc(50% - 6px);
    box-sizing: border-box;
    display: block;
    margin: 3px;
    border: 1px solid rgba(0,0,0,0);
    transition: all 0.1s ease;

    figure{
      width: 100%;
      text-align: center;

      img{
        width: 32px;
        height: 32px;
      }

      figcaption{

      }
    }

    &.selected{
      border: 1px solid white;
    }

    &.header{
      width: 100%;
      text-align: center;
      color: $grey;
      height: auto;
      font-size: 2em;
      border-bottom: 1px solid white;
    }
  }
}